<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <springProperty name="profileName" source="spring.profiles.active" defaultValue="localhost"/>
  <springProperty name="serviceName" source="spring.application.name" defaultValue="unknown-app"/>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <jmxConfigurator/>


  <springProfile
    name="default, dev, localenv">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <Pattern>@%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{username}] [%X{req.uid}] [%X{req.ip}] [%X{req.url}] %-5level %-50(%logger{30}.%M{17}:%L) - %-150msg %n</Pattern>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>TRACE</level>
      </filter>
    </appender>


    <logger name="com.coats.d2" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework" level="WARN" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.eclipse.jetty.server" level="INFO" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.datastax.driver.core.QueryLogger.NORMAL" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.datastax.driver.core.QueryLogger.SLOW" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.datastax.driver.core.QueryLogger.ERROR" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

</configuration>